.extension-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 20px;
}

@media (max-width: 1024px) {
  .extension-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .extension-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
