.extension-card {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 20px 15px;
  /* border: 1px solid hsl(226, 11%, 37%); */
}
.card-text {
  display: flex;
  gap: 10px;
}
.card-title h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--card-main);
  margin-bottom: 5px;
}

.card-title p {
  font-size: 16px;
  color: var(--card-sub);
  line-height: 1.3;
}

.card-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.card-state button {
  padding: 8px 10px;
  background-color: white;
  border: 1px solid hsl(226, 11%, 37%);
  border-radius: 15px;
  color: var(--remove-color);
  background-color: var(--remove-btn);
  cursor: pointer;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: relative;
  display: block;
  width: 45px;
  height: 20px;
  background-color: hsl(0, 0%, 78%);
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: hsl(3, 86%, 64%);
}

.toggle-input:checked + .toggle-label::before {
  transform: translateX(25px);
}

.remove:hover {
  color: white;
  background-color: hsl(3, 86%, 64%);
  border: 1px solid hsl(3, 86%, 64%);
}
