.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.filter-bar h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--title-text);
}

.filter-btn {
  display: flex;
  gap: 5px;
}

.filter-bar button {
  font-size: 16px;
  color: var(--btn-color);
  background-color: var(--content-btn);
  padding: 10px 15px;
  border: 1px solid transparent;
  transition: border 0.3s;
  border-radius: 20px;
  cursor: pointer;
  margin: 0px 5px;
}

.filter-btn button:hover {
  border: 1px solid hsl(3, 86%, 64%);
}

.btn-active {
  background-color: hsl(3, 71%, 56%) !important;
  color: white;
}

@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column;
    gap: 20px;
  }
}
