.activity-container {
  width: 100%;
  height: 100%;
  background-color: hsl(15, 100%, 70%);
  border-radius: 20px;
}

.activity-top {
  height: 20%;
  background-image: url("../assets/images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 20px;
}

.activity-content {
  height: 80%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
  padding: 25px;
  box-sizing: border-box;
  cursor: pointer;
}

.activity-content:hover {
  background-color: hsl(235, 45%, 61%);
  transition: 0.3s;
}
.activity-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: white;
}
.activity-name img {
  cursor: pointer;
}
.activity-name span {
  font-weight: 400;
}

.activity-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activity-time h1 {
  font-weight: 300;
  font-size: 46px;
  color: white;
}

.activity-time p {
  font-size: 14px;
  color: hsl(236, 100%, 87%);
}

@media (max-width: 768px) {
  .activity-top {
    height: 45px;
  }

  .activity-time {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .activity-name span {
    font-size: 17px;
  }
}
