.profile-container {
  grid-row: 1 / 3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
}

/* 프로필 상단 */
.profile-top {
  background-color: hsl(246, 80%, 60%);
  padding: 30px;
  height: 60%;
  border-radius: 20px;
}

.profile-img {
  width: 70px;
  border: 2px solid white;
  border-radius: 50%;
}

.profile-text {
  margin-top: 60px;
}
.profile-text span {
  display: inline-block;
  margin-bottom: 10px;
  color: hsl(236, 100%, 87%);
}

.profile-text p {
  font-size: 34px;
  line-height: 1.2;
  color: white;
}

/* 프로필 하단 */
.profile-menu {
  background-color: hsl(235, 46%, 20%);
  padding: 25px;
  border-radius: 0px 0px 20px 20px;
}

.profile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-menu ul li {
  color: hsl(235, 45%, 61%);
  cursor: pointer;
  transition: 0.3s;
}
.profile-menu ul li:hover,
.profile-menu ul li.active {
  color: white;
}

@media (max-width: 768px) {
  .profile-container {
    grid-row: auto;
  }

  .profile-menu ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}
