.cardpreview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-front,
.card-back {
  position: absolute;
  width: 465px;
  height: 245px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 20px 25px;
  box-sizing: border-box;
}

.card-front {
  top: 15%;
  left: 30%;
  z-index: 2;
  background-image: url("../assets/images/bg-card-front.png");
}
.card-front p {
  font-size: 32px;
  letter-spacing: 2px;
  margin: 70px 0 30px 0;
}

.card-front .card-name {
  display: flex;
  justify-content: space-between;
}

.card-front .card-name span {
  font-size: 14px;
}

.card-back {
  top: 50%;
  left: 50%;
  z-index: 2;
  background-image: url("../assets/images/bg-card-back.png");
}

.card-back span {
  position: absolute;
  top: 115px;
  right: 55px;
  letter-spacing: 1px;
}

@media (max-width: 1300px) {
  .card-front,
  .card-back {
    transform: scale(0.85);
    transform-origin: center;
  }
}

@media (max-width: 468px) {
  .card-front,
  .card-back {
    width: 320px;
    height: 185px;
  }

  .card-front p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 45px 0 10px 0;
  }

  .card-front .card-name {
    display: flex;
    justify-content: space-between;
  }

  .card-front .card-name span {
    font-size: 10px;
  }

  .card-back span {
    top: 85px;
    right: 55px;
    letter-spacing: 1px;
    font-size: 14px;
  }

  /* 위치 */
  .card-front {
    top: 120px;
    left: 0;
    z-index: 4;
  }
  .card-back {
    left: 10%;
    top: 20px;
  }
}
