.card-form-container {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.card-form-container form {
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 100px;
}

.input-group label {
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  height: 45px;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 16px;
  color: hsl(212, 12%, 71%);
}

.input-group input:focus {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  outline: none;
}
.error-border:focus {
  outline: none;
  border: 1px solid hsl(0, 100%, 66%) !important;
  box-shadow: 0 0 4px hsla(0, 100%, 66%, 0.2);
}
.input-row,
.date-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.date-inputs {
  gap: 5px;
}

.input-date {
  flex: 1.5;
}

.input-cvc {
  flex: 2;
}

.error-msg {
  font-size: 13px;
  color: hsl(0, 100%, 66%);
}

.confirm-btn {
  width: 100%;
  height: 50px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 35px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 468px) {
  .input-group label {
    font-size: 11px;
  }

  .card-form-container {
    height: auto;
    padding-top: 100px;
  }

  .confirm-btn {
    margin-top: 0px;
  }
}
