.recipe-content {
  max-width: 650px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

.section-box {
  margin: 30px 0;
  border-bottom: 1px solid hsl(30, 10%, 34%);
  padding-bottom: 20px;
}

.section-box h1 {
  font-family: "Young Serif", serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: hsl(14, 45%, 36%);
}
