.qrcard {
  width: 340px;
  background-color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.qrcard-img img {
  max-width: 100%;
}

.qrcard-text h1 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.qrcard-text p {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  letter-spacing: 1px;
  line-height: 1.4;
}
