@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li,
p,
h1,
span {
  list-style: none;
  padding: 0;
  margin: 0;
}
