.card {
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.card .header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card .header img {
  border-radius: 50%;
  width: 45px;
}
.card .header > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card h4 {
  font-size: 20px;
  line-height: 1.3;
  padding: 20px 0;
}

.card p {
  line-height: 1.3;
}

/* 개인 카드 */
.card-1 {
  background-color: hsl(263, 55%, 52%);
  color: white;
  background-image: url("../assets/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 60px;
}

.card-2 {
  background-color: hsl(217, 19%, 35%);
  color: white;
}

.card-3 {
  background-color: white;
}

.card-4 {
  background-color: white;
}

.card-5 {
  background-color: hsl(219, 29%, 14%);
  color: white;
}
