body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media (max-width: 1100px) {
  body {
    height: 100%;
  }
}
