.infocard {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 90%;
  max-width: 1100px;
  background-color: white;
  z-index: 10;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.info-item {
  min-height: 80px;
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border-right: 1px solid hsl(0, 0%, 58%);
}

.info-item:last-child {
  border: none;
}

.info-label {
  font-size: 12px;
  color: hsl(0, 0%, 58%);
}

.info-data {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 768px) {
  .infocard {
    width: 70%;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    bottom: -30%;
  }
  .info-item {
    border-right: none;
    gap: 5px;
  }
}
