.search-content {
  width: 100%;
  height: 260px;
  background: url("../assets/images/pattern-bg-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.search-content h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 20px;
}

.search-input {
  width: 450px;
  height: 100%;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 5px;
  font-size: 16px;
}
.search-input:focus {
  outline: none;
  border: none;
}
.search-btn {
  width: 50px;
  height: 100%;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: hsl(0, 0%, 17%);
  cursor: pointer;
}

.search-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 479px) {
  .search-content {
    background: url("../assets/images/pattern-bg-mobile.png");
  }
}
