.BlogCard {
  width: 320px;
  height: auto;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px black;
}
.blog_image img {
  width: 100%;
  border-radius: 10px;
}
.blog_content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog_content .tag {
  display: inline-block;
  align-self: flex-start;
  background-color: hsl(47, 88%, 63%);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 900;
}
.blog_content h1 {
  margin: 0;
  font-size: 23px;
  font-weight: 900;
}

.blog_content h1:hover {
  color: hsl(47, 88%, 63%);
}

.blog_content p {
  margin: 0;
  color: hsl(0, 0%, 42%);
  letter-spacing: 0.4px;
}

.author {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 900;
}

.author img {
  width: 35px;
}
