@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
ol,
ul {
  list-style: none;
}

body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
